.mapboxgl-marker {
    border: solid #007eff;
    border-left-width: 3px;
    border-top-width: 6px;
    border-bottom-width: 3px;
    border-right-width: 7px;
    width: 4rem;
    height: 4rem;
    font-size: 1rem;
    overflow: hidden;
    border-radius: 50% 50% 50% 3%;
    transform: rotate(30deg);
    pointer-events: visible;
}
